# Top-most editorconfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_clauses = true
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_within_parentheses = false
csharp_space_within_square_brackets = false
csharp_space_within_braces = true
csharp_space_within_array_initializer_braces = true
csharp_space_within_object_initializer_braces = true
csharp_space_within_type_parameter_constraints = true
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

# dotnet_style_qualification_for_field = false:silent
# dotnet_style_qualification_for_property = false:silent
# dotnet_style_qualification_for_method = false:silent
# dotnet_style_qualification_for_event = false:silent
